DB_HOST=localhost
DB_PORT=3306
DB_NAME=unveiledlens
DB_USER=root
DB_PASS=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

JWT_SECRET=
SERPAPI_KEY=

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=

ADMIN_APPROVAL_EMAIL=
ADMIN_APPROVAL_BASE_URL=http://localhost:3000/admin-approval

JWT_EXPIRATION=86400000
JWT_ADMIN_EXPIRATION=28800000